<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="sidebar(currentPage)" class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a th:href="@{/}" class="brand-link">
            <span class="brand-text fw-light">Admin</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link"
                       th:classappend="${currentPage == 'dashboard'} ? ' active'">
                        <i class="nav-icon bi bi-speedometer2"></i>
                        <p>대시보드</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/clients}" class="nav-link"
                       th:classappend="${currentPage == 'clients'} ? ' active'">
                        <i class="nav-icon bi bi-shield-lock-fill"></i>
                        <p>클라이언트 관리</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>
